td
  = modelIndex + 1
td
  = customer.get('name') + " (" + customer.get('driverLicense') + ")"
td
  = payment.get('amount')
td
  = moment(takenOn).format(App.DataHelper.dateFormats.us)
td
  = returnedOn ? moment(returnedOn).format(App.DataHelper.dateFormats.us): ""
td
  span(class="#{status.toLowerCase()} item_status")
    = status
td
  if status == 'ACTIVE'
    a.btn.default.btn-xs.green.return-deposit(href="#" data-toggle="tooltip" title="Download")
      i.fa.fa-reply
