#toolbar.deposits-toolbar
  .actions
    button#list-refresh.btn.btn-md.purple.filter-submit.margin-bottom
      i.fa.fa-refresh
.dataTables_wrapper.no-footer
  table.table.table-bordered.table-hover(id="#{dataTableId}")
    thead
      tr
        - for item in header
          th
            span
              b= item
    tbody.row-container
