.page-sidebar-wrapper
  // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
  // DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed
  .page-sidebar.navbar-collapse.collapse
    // BEGIN SIDEBAR MENU
    // DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders)
    // DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode
    // DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode
    // DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing
    // DOC: Set data-keep-expand="true" to keep the submenues expanded
    // DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      // DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element
      li.sidebar-toggler-wrapper
        // BEGIN SIDEBAR TOGGLER BUTTON
        .sidebar-toggler
        // END SIDEBAR TOGGLER BUTTON
      li.start
        a(href='javascript:;')
          i.fa.fa-file-text
          span.title Rent Agreement
          span.arrow
        ul.sub-menu
          li#rent-agreement
            a(href='#rent-agreement')
              i.icon-bar-chart
              | 							Rent Agreement
          li#rent-agreements
            a(href='#rent-agreements')
              i.icon-bulb
              | 							Rent Agreements
      li
        a(href='javascript:;')
          i.fa.fa-users
          span.title Customers
          span.arrow
        ul.sub-menu
          li#customer
            a(href='#customer')
              i.icon-bar-chart
              |               Customer
          li#customers
            a(href='#customers')
              i.icon-bulb
              |               Customers
      li
        a(href='javascript:;')
          i.fa.fa-car
          span.title Vehicles
          span.arrow
        ul.sub-menu
          li#vehicle
            a(href='#vehicle')
              i.icon-bar-chart
              |              Vehicle
          li#vehicles
            a(href='#vehicles')
              i.icon-bulb
              |              Vehicles
      li
        a(href='javascript:;')
          i.fa.fa-money
          span.title Deposits
          span.arrow
      li
        a(href='javascript:;')
          i.fa.fa-map-marker
          span.title Locations
          span.arrow

    // END SIDEBAR MENU
