doctype html
html(lang="en")
  head
    title= title
    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,800', rel='stylesheet', type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel='stylesheet')
    link(rel="stylesheet", href="stylesheets/index.css")

    script(data-main='scripts/index.js' src='scripts/vendor/require.js')
  body.page-header-fixed.page-quick-sidebar-over-content.page-sidebar-closed-hide-logo.page-container-bg-solid
    #top-menu-region.page-header.-i.navbar.navbar-fixed-top
    .clearfix
    .page-container
      #sidebar-menu-region
      .page-content-wrapper
        .page-content
          #main-region
    .page-footer
    #login-region
