nav.navbar.navbar-fixed-top
  .container-fluid
    .row
      .col-xs-2
        .navbar-header
          a.logo(href="/") Bash.Works
      .col-xs-8
        .navbar-left
      .col-xs-2
        .navbar-right

