.dashboard-content
  h3.page-title Dashboard
  .row
    .col-md-12
      #utilization-chart
  //.row
  //  .col-md-6.col-lg-6.col-xs-12
  //    #vehicles-need-inspections
  //  .col-md-6.col-lg-6.col-xs-12
  //    #vehicles-need-oil-change
  //.row
  //  .col-md-6.col-lg-6.col-xs-12
  //    #deposits-due
  //  .col-md-6.col-lg-6.col-xs-12
  //    #last-call-logs
  //.row
  //  .col-md-12
  //    #rental-dues
  .row
    .col-md-6.col-lg-6.col-xs-12
      #vehicles-need-inspections
      #vehicles-need-oil-change
    .col-md-6.col-lg-6.col-xs-12
      #deposits-due
      #last-call-logs
    .col-md-12
      #rental-dues
