.dashboard-content
  h3.page-title Dashboard
  .row
    .col-md-12.col-lg-12.col-xs-12.col-sm-12
      #utilization-chart
  .row
    .col-md-6.col-lg-6.col-xs-12
      #vehicles-need-inspections
      #vehicles-need-oil-change
    .col-md-6.col-lg-6.col-xs-12
      #deposits-due
      #last-call-logs
    .col-md-12.col-lg-12.col-xs-12.col-sm-12
      #rental-dues
