.page-header.-i.navbar.navbar-fixed-top
  // BEGIN HEADER INNER
  .page-header-inner
    // BEGIN LOGO
    .page-logo
      a(href='index.html')
        img.top-menu-logo(src="/images/city-logo-small-white1.png", alt='logo')
      .menu-toggler.sidebar-toggler.hide
    // END LOGO
    // BEGIN RESPONSIVE MENU TOGGLER
    a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')
    // END RESPONSIVE MENU TOGGLER
    // BEGIN TOP NAVIGATION MENU
    .top-menu
      ul.nav.navbar-nav.pull-right
        // DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte
        li.dropdown.dropdown-quick-sidebar-toggler
          a#logout-toggle.dropdown-toggle(href='javascript:;')
            i.fa.fa-sign-out
        // END QUICK SIDEBAR TOGGLER
    // END TOP NAVIGATION MENU
  // END HEADER INNER
