.phone.form-group.col-md-12
  .input-group
    span.input-group-addon
      i.fa.fa-file-text-o
    .input-icon.right
      i.fa.fa-info-circle.tooltips(data-original-title='Incident Text', data-container='body')
      input.form-control(type='text' name="text" placeholder="New incident")

    span.input-group-addon.remove-incident
      i.fa.fa-times
