.phone.form-group.col-md-12
  .input-group
    span.input-group-addon
      i.fa.fa-book
    .input-icon.right
      i.fa.fa-info-circle.tooltips(data-original-title='Note Text', data-container='body')
      input.form-control(type='text' name="text" placeholder="Note")
    span.input-group-addon.remove-note
      i.fa.fa-times
