.dataTables_wrapper.no-footer
  table.table.table-bordered.table-hover(id="#{dataTableId}")
    thead
      tr
        - for item in header
          th
            span
              b= item
    tbody.row-container
