td
  = modelIndex + 1
td
  = make
td
  = model || 'none'
td
  = color
td
  = plateNumber
td
  = lastOilChangeMileage||'none'
td
  = currentMileage||'none'
td
  if status
    span(class="#{status.toLowerCase()} item_status")
      = status
td
  if status != 'DELETED'
    a.btn.default.btn-xs.red.delete-row(href="javascript:;" data-toggle="tooltip" title="Delete Vehicle")
      i.fa.fa-trash-o

