#center-region {
  padding-top: 15px;
  padding-bottom: 15px;

  .logo, .moto {
    display: none;
  }

  .fancy {
    padding-top: 200px;
    .logo {
      display: block;
      width: 178px;
      height: 26px;
      @include hide-text;
      margin: 12px auto;
      background: transparent url("../images/bash-works-logo.png") no-repeat scroll center center;
    }
    .moto {
      display: block;
      text-align: center;
      font-size: 15px;
      @include lightfont;
    }
    .tools-search-input {
      .search-select, .search-input {
        margin: auto;
      }
    }
  }

  .tools-visualizer {

    ul {
      li.param {
        padding: 7px 7px;
        margin-bottom: 7px;
        background-color: $param-grey;
        .form-group {
          margin-bottom: 0;
        }
        &.conditional {
          background-color: $param-pink;
        }
        &.repeat {
          background-color: $param-blue;
          >.children-region {
            margin-bottom: 7px;
          }
          ul.repeat-blocks {
            >li.repeat-block {
              button.close {
                margin-right: 1px;
              }
              >.inputs-region {
                background-color: $white;
                padding: 7px 7px;
                margin-bottom: 7px;
                padding-right: 15px;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .tabs-region {
          margin-top: 7px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .nav-tabs {
          margin: 0;
          border: none;
          li {
            padding: 0;
            border-radius: 0;
            margin: 0;
            font-size: 13px;
            @include lightfont;
            a {
              padding: 5px 10px;
              border-radius: 0;
              margin: 0;
              text-decoration: none;
              span {
                border-bottom: 1px dashed $blue;
              }
              &:hover {
                background-color: transparent;
                span {
                  border-bottom: 1px dashed $red;
                }
              }
            }
            &.active {
              a {
                border-color: $black !important;
                text-decoration: none;
                color: $black !important;
                span {
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }

    .help {
      color: $blue;
      cursor: pointer;
    }

    .affix {
      border-bottom: 1px solid $black;
      left: 0;
      z-index: 100;
    }

    label[name='name'] {
      padding-bottom: 5px;
      padding-right: 20px;
      font-size: 18px;
      @include boldfont;
    }

    .inputs-region > .input-params-view > li {
      border-bottom: 1px dashed $light-grey;
      margin-bottom: 20px;
    }

    .main-navs {
      .nav-tabs li a {
        font-size: 17px;
        padding: 4px 20px;
      }
      display: inline-block;
    }

    .section-title {
      font-size: 18px;
      @include lightfont;
      border-bottom: 1px solid $light-grey;
      padding-bottom: 4px;
      margin-bottom: 20px;
      padding-top: 15px;
    }

    .repeat-blocks-view button.close {
      display: none;
    }

    .script-tab-view textarea {
      height: 500px;
    }

    .inputs-region ul, .outputs-region ul {
      li {
        label {
          font-size: 14px;
          color: $black;
          @include boldfont;
        }
        input[type='text'], input[type='number'] {
          border-radius: 0;
          box-shadow: none;
          outline: none;
          max-width: 500px;
          color: $black;
        }
        &.conditional {
          > div[role='tabpanel'] {
            padding-left: 20px;
            border-left: 1px solid $black;
            .content-region {
              padding-top: 16px;
            }
          }
        }
      }
    }

    .editor-tab-layout-view {
      textarea {
        height: 400px;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        color: $black;
      }
    }

  }

}
