#left-region {
  height: 100%;

  .tools-search {
    height: 100%;
    background-color: $light-blue;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;

    .logo, .moto, .list-group-item-view p {
      display: none;
    }

    .list-group-view {
      .list-group-item-view {
        border-top: none;
        padding-top: 0;
      }
    }

  }

}
