.top-menu-logo {
  margin: 8px 0 0 0;
}
#logout-toggle {
  padding: 14px 10px 9px 10px !important;
}

#main-region {
  padding: 25px 20px 10px 20px;
}

a.collapse.collapser {
  background: none;
  color: white;
}

#utilization-chart-container {
  margin-bottom: 25px;
  width: 100%;
  height: 362px;
}

#main-region {
  background-color: white;
}

.sidebar-toggler-wrapper {
  margin-bottom: 15px !important;
}

.width-150 {
  width: 100% !important;
}

.portlet-title .select2-container {
  width: 100% !important;
}

.caption-helper {
  margin-left: 5px !important;
}

.rent-agreement-portlet {
  .portlet-title {
    .caption {
      padding: 0 !important;
    }
  }
  .inputs.left {
    float: left !important;
  }
  .tools {
    text-align: right;
  }
}

.rent-agreement-portlet .radio {
  margin: 0;
  .tools a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    opacity: 1;
    width: 14px;
    visibility: visible;
    &.collapse {
      background-image: url(../img/portlet-collapse-icon.png);
    }
    &.expand {
      background-image: url(../img/portlet-expand-icon.png);

    }
  }
}
