.top-menu-logo {
  margin: 8px 0 0 0;
}
#logout-toggle {
  padding: 14px 10px 9px 10px !important;
}

.dashboard-content {
  padding: 25px 20px 10px 20px;
}

a.collapse.collapser {
  background: none;
  color: white;
}

#utilization-chart-container {
  margin-bottom: 25px;
  width: 100%;
  height: 362px;
}
