.top-menu-logo {
  margin: 8px 0 0 0;
}
#logout-toggle {
  padding: 14px 10px 9px 10px !important;
}

#main-region {
  padding: 25px 20px 10px 20px;
}

a.collapse.collapser {
  background: none;
  color: white;
}

#utilization-chart-container {
  margin-bottom: 25px;
  width: 100%;
  height: 362px;
}

#main-region {
  background-color: white;
}

.sidebar-toggler-wrapper {
  margin-bottom: 15px !important;
}

.width-150 {
  width: 100% !important;
}

.portlet-title .select2-container {
  width: 100% !important;
}

.caption-helper {
  margin-left: 5px !important;
}

.rent-agreement-portlet {
  .portlet-title {
    .caption {
      padding: 0 !important;
    }
  }
  .inputs.left {
    float: left !important;
  }
  .tools {
    text-align: right;
  }
}

.rental-details {
  .form-actions .row{
    text-align: right;
  }
}

.rent-agreement-portlet .radio {
  margin: 0;
  .tools a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    opacity: 1;
    width: 14px;
    visibility: visible;
    &.collapse {
      background-image: url(../img/portlet-collapse-icon.png);
    }
    &.expand {
      background-image: url(../img/portlet-expand-icon.png);

    }
  }
}

.phones-toolbar, .addresses-toolbar {
  .phones-list-title, .addresses-list-title {
    display: inline-block;
    float: left;
  }
  .list-add {
    float:right;
    margin-top: 3px;
  }
}

.contains-select2 {
  &.loading-select2 {
    .spinner {
      display: inline-block;
    }
    .select2-container-div {
      display: none;
    }
  }
  .spinner {
    display: none;
  }

}
.select2-container-div {
  display: block;
  width: 300px;
}

// select 2 style override
span.select2-selection.select2-selection--single {
  height: 34px;
  padding-top: 3px;
}

span.select2-selection__arrow {
  top: 4px !important;
}
// select 2 style override end

//phones view start
.remove-phone, .remove-address {
  cursor: pointer;
  background-color: transparent !important;
  &:hover {
    i {
      color: #F3565D;
    }
  }
}
//phones view end

#deposit-payment-region {
  margin-bottom: 15px;
}

.rent-agreement-row:hover {
  cursor: pointer;
}

//agreements list
.agreement_status, .item_status {
  &.extended {
    color: #3598dc;
  }
  &.new, &.active {
    color: #26a69a;
  }
  &.closed, &.archived, &.deleted {
    color: #cb5a5e;
  }
}

.no-right-padding {
  padding-right: 0;
}

.no-left-padding {
  padding-left: 0;
}

#toolbar {
  margin-bottom: 15px
}
//agreements list end

//google maps
.gpstrackings-wrapper {
  height: 100%;
}
#gmaps, #gps-tracking-vehicles_region {
  height: 80vh;
  min-height: 550px;
}
#gps-tracking-vehicles_region {
  overflow-y: auto;
}

#one-car-tracking-map {
  height: 400px;
}

#map-canvas { height: 100%; margin: 0; padding: 0;}

//google maps end

.margin-left-5px {
  margin-left: 5px;
}

.loading {
  margin-top: 7px;
}

.modal {
  margin-top: 50px;
}

.new-item-datatables {
  float: left;
//  height: 34px;
//  padding-top: 8px;
  margin-right: 5px;
}

tr.deleted {
  background-color: #eee;
  color: #bbb;
}

.due-today {
  background-color: #fcf8e3;
}

tr.clickable  {
  cursor: pointer;
}
