$black: #000;
$white: #fff;
$blue: #06f;
$red: #ff006c;
$light-grey: #c1c1c1;
$lighter-grey: #E9ECF0;
$green: #8FCA00;

$dark-grey: #696767;
$grey: #A3A3A4;
$light-blue: #D9E6E5;
$shade-blue: #63A0A6;
$orange: #E46E25;
$param-grey: #F7F7F7;
$param-pink: #FEF9F1;
$param-blue: #E9EFF5;

@mixin hide-text {
  overflow:hidden;
  text-indent: -9999px;
}
@mixin lightfont {
  font-weight: 300;
}
@mixin normalfont {
  font-weight: 400;
}
@mixin boldfont {
  font-weight: 700;
}
@mixin blackfont {
  font-weight: 800;
}

@mixin transition($time) {
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}
