<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700,800" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script data-main="scripts/index.js" src="scripts/vendor/require.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2LWT54qamKDjAxTQAjJFYgWkYeW81tBg" type="text/javascript"></script>
    <script type="text/javascript">
      window.apiUrl = "{{API_URL}}";
    </script>
  </head>
  <body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo page-container-bg-solid">
    <div class="page-header -i navbar navbar-fixed-top" id="top-menu-region"></div>
    <div class="clearfix"></div>
    <div class="page-container">
      <div id="sidebar-menu-region"></div>
      <div class="page-content-wrapper">
        <div class="page-content">
          <div id="main-region"></div>
        </div>
      </div>
    </div>
    <div class="page-footer"></div>
    <div class="modal fade" id="modal-global-1">
      <div class="modal-dialog"></div>
    </div>
    <div class="modal fade" id="modal-global-2">
      <div class="modal-dialog"></div>
    </div>
    <div id="login-region"></div>
  </body>
</html>
