.pagination-panel
  | Page
  a.btn.btn-sm.default.prev(href='#', title='Prev', class=prevStatus)
    i.fa.fa-angle-left
  input.pagination-panel-input.form-control.input-mini.input-inline.input-sm(type='text', maxlenght='5', style='text-align:center; margin: 0 5px;', value=currentPage)
  a.btn.btn-sm.default.next(href='#', title='Next', class=nextStatus)
    i.fa.fa-angle-right
