td
  = modelIndex + 1
td
  = vehicle.get('make') || vehicle.get('model')
td
  = vehicle.get('plateNumber')
td
  = address.get('city') + ', ' + address.get('region') + ', ' + address.get('postalCode')
td
  = moment(trackedOn).format(App.DataHelper.dateFormats.us)
td
  if address.get('lat') && address.get('lon')
    a.btn.default.btn-xs.blue.view-tracking(href="#" data-toggle="tooltip" title="Show vehicle position on the Map")
      i.fa.fa-compass  Show on Map
