.row
  .col-md-12.col-sm-12.col-xs-12
    .line-items-toolbar.col-md-6.col-sm-6.col-xs-12
      .form-group
        button.add-line-item.btn.btn-sm.purple.filter-submit.margin-bottom(name="add-line-item")
          i.fa.fa-refresh
          |  Add
  .col-md-12.col-sm-12.col-xs-12
    .line-items-container.col-md-6.col-sm-6.col-xs-12
