.form-group
  .input-group
    span.input-group-addon
      i.fa.fa-info
    input.form-control(type='text' name="description" value=phoneType)
    span.input-group-addon
      i.fa.fa-money
    input.form-control(type='text' name="lineAmount" value= phoneNumber)
    span.input-group-addon.remove-phone
      i.fa.fa-times
