.col-md-8.col-sm-12.no-left-padding
  .actions
    a.btn.default.purple-stripe.input-inline.input-small.input-sm(href='#rent-agreement')
      i.fa.fa-plus
      span.hidden-480
        |  New Agreement
.col-md-4.col-sm-12.no-right-padding
  .table-group-actions.pull-right
    input#rental-query.table-group-action-input.form-control.input-inline.input-small.input-sm(type='text', name='order_quantity_from')
    | &nbsp;
    button#rental-search.btn.btn-sm.purple.filter-submit.margin-bottom
      i.fa.fa-search
      |  Search
