td
  = modelIndex + 1
td
  = invoiceNumber
td
  = customer.get('lastName') || customer.get('contactID')
td
  = vehicle.get('plateNumber') || vehicle.get('itemID')
td
  = days
td
  = moment(dueDate).format(App.DataHelper.dateFormats.us)
td
  = total
td
  span(class="#{status.toLowerCase()} agreement_status")
    = status
if actionsEnabled
  td
    a.btn.default.btn-xs.green.download-row(href="#{externalDocUrl}" data-toggle="tooltip" title="Download PDF version of agreement")
      i.fa.fa-download
    a.btn.default.btn-xs.purple.notes-row(href="#" data-toggle="tooltip" title="Agreement Notes")
      i.fa.fa-comments-o
    if status.toLowerCase() !== "closed"
      a.btn.default.btn-xs.blue.extend-row(href="#" data-toggle="tooltip" title="Extend rent agreement")
        i.fa.fa-angle-double-right
      a.btn.default.btn-xs.red.close-row(href="#" data-toggle="tooltip" title="Close rent agreement")
        i.fa.fa-times
