form#deposit-form
  .row
    .form-group.col-md-3.col-sm-6.col-xs-12.customer-input
      label.col-md-12.control-label
        | Customer
        span.required(aria-required='true') *
      .col-md-12
        input.form-control.width-150(type='hidden', name='deposit_customer', placeholder='search...')
        input.form-control.width-150(type='text', name='deposit_customer_view', placeholder='search...', disabled = true)
    .form-group.col-md-3.col-sm-6.col-xs-12
      label.col-md-12.control-label
        | Code
        span.required(aria-required='true') *
      .col-md-12
        .input-icon.right
          input.form-control(type='text' name='deposit_code')
    .form-group.col-md-3.col-sm-6.col-xs-12
      label.col-md-12.control-label
        | Description
        span.required(aria-required='true') *
      .col-md-12
        .input-icon.right
          input.form-control(type='text' name='deposit_description')
  #deposit-payment-region.row
