form#deposit-form
  .row
    .form-group.col-md-3.col-sm-6.col-xs-12.customer-input
      label.col-md-12.control-label
        | Customer
        span.required(aria-required='true') *
      .col-md-12
        select.form-control.width-150(type='text', name='deposit_customer', placeholder='search...')
  #deposit-payment-region
