.phone.form-group.col-md-12
  .input-group
    span.input-group-addon
      i.fa.fa-phone
    input.form-control(type='text' name="phone_type_#{phoneType}" value=phoneType)
    span.input-group-addon :
    input.form-control(type='text' name="phone_number_#{phoneNumber}" value= phoneNumber)
