.phone.form-group.col-md-12
  .input-group
    span.input-group-addon
      i.fa.fa-phone
    input.form-control(type='text' name="phone_type" value=phoneType)
    span.input-group-addon :
    input.form-control(type='text' name="phone_number" value= phoneNumber)
    span.input-group-addon.remove-phone
      i.fa.fa-times
