.row
  .col-md-12.col-sm-12.col-xs-12.rent-agreement-portlet.customer-portlet
    .portlet.light
      .portlet-title
          .col-md-4.caption
            i.fa.fa-user.font-purple-plum
            span.caption-subject.bold.font-purple-plum.uppercase
              | Customer
            span.caption-helper (first name, last name, id)
          .col-md-4
            .form-group
              .radio-list
                label.radio-inline
                  #uniform-optionsRadios4.radio
                    span.checked
                      input#optionsRadios4(type='radio', name='customerChoiceRadios', value='new')
                  |  New Customer
                label.radio-inline
                  #uniform-optionsRadios5.radio
                    span
                      input#optionsRadios5(type='radio', name='customerChoiceRadios', value='existing', checked='')
                  |  Existing Customer
          .inputs.col-md-3.left
            .portlet-input.input-inline.input-small.contains-select2.loading-select2
              i.spinner.fa.fa-spinner.fa-pulse
              .select2-container-div
                select.form-control.width-150(type='text', name='customer_search', placeholder='search...')
          .tools.col-md-1.right
            a.expand(href='javascript:;', data-original-title='', title='')
      .portlet-body.display-hide
        #customer-region
  .col-md-12.col-sm-12.col-xs-12.rent-agreement-portlet.vehicle-portlet.hidden
    .portlet.light
      .portlet-title
        .col-md-4.caption
          i.fa.fa-car.font-purple-plum
          span.caption-subject.bold.font-purple-plum.uppercase
            | Vehicle
          span.caption-helper (plate number, vin)
        .col-md-4
        .inputs.col-md-3.left
          .portlet-input.input-inline.input-small
            select.form-control.width-150(type='text', name='vehicle_search', placeholder='search...')
        .tools.col-md-1.right
          a.expand(href='javascript:;', data-original-title='', title='')
      .portlet-body.display-hide
        #vehicle-region
  .col-md-12.col-sm-12.col-xs-12.rent-agreement-portlet.deposit-portlet.hidden
    .portlet.light
      .portlet-title
        .col-md-4.caption
          i.fa.fa-usd.font-purple-plum
          span.caption-subject.bold.font-purple-plum.uppercase
            | Deposit
          span.caption-helper (id)
        .col-md-4
          .form-group
            .radio-list
              label.radio-inline
                #uniform-optionsRadios4.radio
                  span.checked
                    input#deposit-existing-radio(type='radio', name='depositChoiceRadios', value='new')
                |  New Deposit
              label.radio-inline
                #uniform-optionsRadios5.radio
                  span
                    input#deposit-new-radio(type='radio', name='depositChoiceRadios', value='existing', checked='')
                |  Existing Deposit
        .inputs.col-md-3.left
          .portlet-input.input-inline.input-small
            select.form-control.width-150(type='text', name='deposit_search', placeholder='search...')
        .tools.col-md-1.right
          a.expand(href='javascript:;', data-original-title='', title='')
      .portlet-body.display-hide
        #deposit-region
  .col-md-12.col-sm-12.col-xs-12.rental-details.agreement-details-portlet.hidden
    form#rental-details-form.form
      .row
        .form-group.col-md-3.col-sm-6.col-xs-12
          label.col-md-12.control-label
            | Daily rate
            span.required(aria-required='true') *
          .col-md-12
            .input-group
              .input-icon.right
                i.fa.fa-info-circle.tooltips(data-original-title='Daily Rate', data-container='body')
                input.form-control(type='text' name='daily_rate')
        .form-group.col-md-3.col-sm-6.col-xs-12
          label.col-md-12.control-label
            | Days
            span.required(aria-required='true') *
          .col-md-12
            .input-group
              .input-icon.right
                i.fa.fa-info-circle.tooltips(data-original-title='Count of days car is being rented for', data-container='body')
                input.form-control(type='text' name='days' value='2')

        .form-group.col-md-3.col-sm-6.col-xs-12
          label.col-md-12.control-label
            | Type
            span.required(aria-required='true') *
          .col-md-12
            select.form-control(type='text' name='type')
              option(value="ACCPAY") ACCPAY
              option(value="ACCREC") ACCREC

        .form-group.col-md-3.col-sm-6.col-xs-12
          label.col-md-12.control-label
            | Discount Rate
            span.required(aria-required='true') *
          .col-md-12
            .input-group
              .input-icon.right
                i.fa.fa-info-circle.tooltips(data-original-title='Discount Rate', data-container='body')
                input.form-control(type='text' name='discount_rate' value='2')
      .row
        .form-group.col-md-3.col-sm-6.col-xs-12
          label.col-md-12.control-label
            | Total Discount
          .col-md-12
            .input-group
              .input-icon.right
                i.fa.fa-info-circle.tooltips(data-original-title='Total Discount', data-container='body')
                input.form-control(type='text' name='total_discount')
        .form-group.col-md-3.col-sm-6.col-xs-12
          label.col-md-12.control-label
            | Total Tax
          .col-md-12
            .input-group
              .input-icon.right
                i.fa.fa-info-circle.tooltips(data-original-title='Total Taxes', data-container='body')
                input.form-control(type='text' name='days')
        .form-group.col-md-3.col-sm-6.col-xs-12
          label.col-md-12.control-label
            | Subtotal
            span.required(aria-required='true') *
          .col-md-12
            .input-group
              .input-icon.right
                i.fa.fa-info-circle.tooltips(data-original-title='Subtotal', data-container='body')
                input.form-control(type='text' name='subtotal')
        .form-group.col-md-3.col-sm-6.col-xs-12
          label.col-md-12.control-label
            | Total
            span.required(aria-required='true') *
          .col-md-12
            .input-group
              .input-icon.right
                i.fa.fa-info-circle.tooltips(data-original-title='Total', data-container='body')
                input.form-control(type='text' name='total')
      .form-actions
        .row
          .col-md-offset-3.col-md-9.right
            button.btn.green(type='submit') Submit
