td
  = modelIndex + 1
td
  = firstName
td
  = lastName
td
  = emailAddress ||'none'
td
  a.btn.default.btn-xs.yellow.edit-row(href="#customer/#{contactID}")
    i.fa.fa-edit Edit
  a.btn.default.btn-xs.red.delete-row(href="javascript:;")
    i.fa.fa-trash-o Delete
