.phone.form-group.col-md-12
  .input-group
    span.input-group-addon
      i.fa.fa-book
    input.form-control(type='text' name="note_text" placeholder="Note")
    span.input-group-addon.remove-note
      i.fa.fa-times
