.portlet.box(class="#{color}")
  .portlet-title
    .caption
      i.fa(class="#{icon}")
      = title + "  (" + count + ")"
    .tools
      a.expand.collapser(href='javascript:;', data-original-title='', title='')
  #rental-dues-widget-main-region.portlet-body.display-hide
