.portlet.box(class="#{color}")
    .portlet-title
        .caption
            i.fa(class="#{icon}")
            = title
        .tools
            a.collapse.collapser(href='javascript:;', data-original-title='', title='')
    .portlet-body
        #utilization-chart-container
