td
  = modelIndex + 1
td
  = vehicle.get('make') || vehicle.get('model')
td
  = vehicle.get('plateNumber')
td
  = address.get('city')
td
  = moment(trackedOn).format("D MMMM YYYY")
td
  if address.get('lat') && address.get('lon')
    a.view-tracking(href="") Show on the Map
