.modal-content
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true')
    h4.modal-title Track vehicle Location
  .modal-body
    | body goes here
  .modal-footer
    button.btn.default(type='button', data-dismiss='modal') Cancel
    button.btn.blue.extend(type='button') Extend
