td
  = modelIndex + 1
td
  = customer.firstName + ' ' + customer.lastName
td
  = vehicle.make
td
  = vehicle.model
td
  = vehicle.color
td
  = vehicle.plateNumber
td
  = vehicle.registrationDate
td
  if tracking.get('address').get('lat') && tracking.get('address').get('lon')
    a.btn.default.btn-xs.blue.view-tracking(href="#" data-toggle="tooltip" title="Show vehicle position on the Map")
      i.fa.fa-compass  Show on Map
