.portlet.box(class="#{color}")
  .portlet-title
    .caption
      i.fa(class="#{icon}")
      = title + "  (" + count + ")"
    .tools
      a.expand(href='javascript:;', data-original-title='', title='')
  .portlet-body.display-hide
    .table-scrollable
      table.table.table-bordered.table-hover(id="#{dataTableId}")
        thead
          tr
            - for item in header
              th
                span
                  b= item
        tbody.row-container
